* {
    list-style: none;
    text-decoration: none;
    text-align: center;
}

/* header */
header {
    background: #aaa;
    padding: 1em;
}

/* nav */
nav {
    background: #ccc;
}

nav ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

nav ul li {
    border: 1px solid transparent;
    transition: border 1s ease;
    padding: 1px;
    border-radius: 8px;
    font-size: 1em;
    display: inline-block;
}

nav ul li img {
    width: 1em;
}

.nav-li:hover{
    background: blue;
}

@keyframes drawBorder {
    0% {
        /* border-left: 1px solid transparent; */
    }
    25% {
        border-top: 3px solid transparent;
    }
    50% {
        border-right: 3px solid transparent;
    }
    75% {
        border-bottom: 3px solid transparent;
    }
    100% {
        border-left: 3px solid transparent;
    }
}

nav ul li:hover {
    animation: drawBorder 1s infinite;
    border: 1px solid #000;
}

nav ul li:hover a:first-child {
    color: yellow;
}

nav li:hover .dropdown-content {
    display: block;
}

.dropdown-content:not(:hover) {
    display: none;
}

.dropdown-content:hover {
    color: yellow;
    background: red;
}

